body{
    font-family:  "Marcellus", "Roboto", sans-serif;
    letter-spacing: 0.03rem; 
}
p{
    color:#939393;
}
h2{
    padding: 10px 0px;
}
h5{
    padding: 5px 0px;
}
.navbar{
    background-color: rgb(241 241 240) ;
}
.head-cont {
       background-color: #b8b6b6c0;
       z-index: 1;
}

.logo a {
    margin-left: -100px;
    font-size: 40px;
    letter-spacing: 2px;
}

.tabs li a {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.65);
    display: block;
}

.wishlist {
    display: flex;
}
.justify-content-center{
    text-align: center;
}
.card{
    border: none;
}
.card-body{
    text-align: left;
    padding: 25px 0px;
    background-color: rgb(241 241 240);
}
.content{
    background-color: rgb(241 241 240);
    padding: 30px ;
}
.content1{
    padding: 50px 0px ;
}
.tex{
    padding: 0px 40px;
}
.tex .row{
    padding-left: 20px;
}
i{
    font-size: 34px;
    color: #6f6969c0;;
}
.card1{
    background-color: white;
}
.space{
    padding: 30px;
}
.i{
    align-items: center;
}
.content2{
    background-color: rgb(241 241 240);
    padding: 90px 0px;
}
.text{
    background-color: white;
}
.content3{
    padding: 66px 0px;
}
.text1{
    padding: 20px 10px;
}
.content4{
    padding: 66px 0px;
}
.content5{
    padding: 40px 0px;
}
.content6{
    padding: 66px 0px;
}
.content7{
    padding: 66px 0px;
    background-color: rgb(241 241 240);;
}
.form1{
    padding:10px 300px ;
}
.form1 h1{
    padding: 15px;
    text-align: center;
}
.content7 .text2{
    padding: 85px 0px 0px;
    display: flex;
    margin-bottom: -17px;
}
.content7 .btns{
    padding: 5px 52px;
    margin: 0px 632px;
    background-color: black;
    color: white;
    font-size: 14px;
}
footer{
    background-color: rgb(255, 255, 255);; 
    padding: 40px 0px;
}
.divider{
    width: 1520px;
    height: 1px;
    background-color: rgb(99, 97, 97);
    display: inline-block;
}
.divider1{
    width: 1520px;
    height: 1px;
    background-color: rgb(99, 97, 97);
    display: inline-block;
}
.d-flex i{
    font-size: 20px;
    color: rgb(108 117 125);
    padding: 10px;
}
.content8{
    padding: 30px 0px;
}
 .p{
    display: flex;
    align-items:end;
}